.body {
	font-size:12pt;
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

.table {
	align:center;
	width:100%;
}

.table tr th.th {
    background: rgba(138,179,105,1);
    background: -moz-linear-gradient(top, rgba(138,179,105,1) 0%, rgba(63,117,15,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(138,179,105,1)), color-stop(100%, rgba(63,117,15,1)));
    background: -webkit-linear-gradient(top, rgba(138,179,105,1) 0%, rgba(63,117,15,1) 100%);
    background: -o-linear-gradient(top, rgba(138,179,105,1) 0%, rgba(63,117,15,1) 100%);
    background: -ms-linear-gradient(top, rgba(138,179,105,1) 0%, rgba(63,117,15,1) 100%);
    background: linear-gradient(to bottom, rgba(138,179,105,1) 0%, rgba(63,117,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ab369', endColorstr='#3f750f', GradientType=0 );
}

.th {
    color: snow;
    font-weight:bold;
    vertical-align:bottom;
    text-align:left;
}

.td {
	color:black;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	text-align:left;
}

.h1 {
	text-align:center;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:16pt;
}

.p {
	text-align:left;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12pt;
}
